body {
  background: linear-gradient(135deg,  #ff5f6d, #ffc371);
  font-family: 'Poppins', sans-serif;
}

.card {
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.btn {
  border-radius: 10px !important;
}

.card-header {
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
}
